body{
  font-family: 'Geologica', sans-serif;
  font-weight: 200;
}
*{
  cursor: url('../favicon/pointer.png'), auto !important;
}
a:hover, button:hover, a, button, #avatar, #click{
  cursor: url('../favicon/clicker.png'), auto !important;
}

a{
  text-decoration-thickness:2px;
    /* font-size: larger; */
  font-family: 'Chillax', sans-serif;
  font-weight: 500;
}
.btn{
  font-weight: 500;
}

.underline{
  text-decoration: none;
  font-weight: 400;
  color:#4dfff6;
  position: relative; /* Ensure relative positioning */
  display: inline-block;
}

.underline::after {
  content: ""; /* Create the underline */
  position: absolute; /* Position relative to the parent */
  left: 0; /* Align with the text */
  bottom: -2px; /* Adjust the distance from the text */
  width: 100%; /* Span the entire width of the parent */
  height: 2px; /* Define the thickness of the underline */
  background-color: rgb(60, 176, 230)
}

.underline:hover::after {
  background-color:#ea6d20
}

#nav_projects:hover,#nav_home:hover,#nav_gallery:hover{
  color:grey!important
}

h1{
  padding-bottom:.5em;
}

.img{
  width:30em;
  max-width: 100%;
}

.Chillax700{
  font-family: 'Chillax', sans-serif;
  font-weight: 700;
}
.Chillax600{
  font-family: 'Chillax', sans-serif;
  font-weight: 600;
}
.Chillax500{
  font-family: 'Chillax', sans-serif;
  font-weight: 500;
}
.Chillax400{
  font-family: 'Chillax', sans-serif;
  font-weight: 400;
}
.Chillax300{
  font-family: 'Chillax', sans-serif;
  font-weight: 300;
}

.Geologica200{
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
}

.Geologica400{
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
}

.Geologica800{
  font-family: 'Geologica', sans-serif;
  font-weight: 600;
}

#avatar{
  display:block;
  height: 4rem;
}

.css-blurry-gradient {
  z-index: -5;
  position: fixed;
  top: 15%;
  left: 23%;
  transform: translate(-50%, 0%);
  width: 35rem;
  height: 35rem;
    border-radius: 50% 22% 40% 80%;  
    filter: blur(100px);
  background: radial-gradient(circle at 50% 50%,rgb(60, 176, 230), rgba(255, 0, 0, 0));
  opacity: 0.5;
}

.highlight{
  background-color: rgb(218, 246, 255);
  text-decoration: none;
  padding-left:2px;
  padding-right:2px;
  /* text-decoration-thickness:2px;
  text-decoration-color:#2F9599; */
  font-family: 'Chillax', sans-serif;
  font-weight: 600;
  background-color: rgb(218, 246, 255);
  color: #058489 ;
  /* color: #0f7b7f ; */
}

.highlight:hover{
  background-color: rgb(255, 221, 194);
  color: #8f3c08 ;
  /* color: #b14e11 ; */
}

.blue{
  background-color: rgb(60, 176, 230);
  color:white;
}

#navbar-mobile{
  display:none;
}

#banner{
  padding-top:6em;
  padding-bottom:6em;
}

#photo{
  padding-top:6em;
  padding-bottom:7em;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); 
  background-color: rgba(255, 255, 255, 0.712);
  transition:top 0.4s ease-in-out;
}
.nav-up {
  top: -120px;
}
#content-padding{
  padding-top:4.5em;
} 
  
.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 1200px) {
  /* #banner{
    margin-top: 1em; 
  }*/
}
@media only screen and (max-width: 992px) {
  .padding-top{
    padding-top: 1.5em;
  }
  #photo{
    padding-top:4em;
    padding-bottom:5em;
  }
}

@media only screen and (min-width: 768px) {

  /* header{
    margin-bottom: 3em; 
  }*/
}

@media only screen and (max-width: 767px) {
  .padding-top{
    padding-top: .8em;
  }
}

@media (max-width: 474px) {
  #navbar{
    display:none;
  }
  #navbar-mobile{
    display:block;
  }
}