.page-epic *{
  cursor: url('../favicon/pointer.webp'), auto;
}
.page-epic a:hover, button:hover, a, button, #avatar, img{
  cursor: url('../favicon/clicker.webp'), auto !important;
}
.page-epic .fancybox-container {
  z-index: 9999; /* Adjust the z-index value as needed */
}
.page-epic .f-thumbs__slide.for-image .f-thumbs__slide_img {
  width: 100%;
  height: auto;
}



.page-epic .quote-header{
  text-align:right;
  font-family: 'Geologica', sans-serif;
}
.page-epic .quote{
  padding-left: 3.5em;
  padding-right: 3em;
  font-family: 'Geologica', sans-serif;
  font-weight: 200;
}
.page-epic .cite{
  color:#3CB0E6;
  font-size: 16px;
  line-height: 0px;
  padding-bottom: 16px;
}
.page-epic .vertical-line{
position: absolute;
  top: 40px;
  right: 0px;
  width: 2px; /* Adjust thickness as needed */
  height: calc(100% - 40px);
  background-color: black; /* Change color as needed */
  z-index: -1; /* Ensure the line is behind other content */
}
.page-epic .gap{
  top: 70px;
  height: calc(100% - 70px);
}
.page-epic .column{
  position: relative; 
  margin-left: 2em;
  margin-right:0px;
  padding-right:0px;
  text-align: right;
  /* display: flex; */
  /* justify-content: center; */
}

.page-epic .blue{
  color:#3CB0E6
}
.page-epic .intro{
  font-family: 'Geologica', sans-serif;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
}
.page-epic .black{
  background-color: rgb(15, 14, 14);
  color:white
}
.page-epic .line{
  /* border: 1px dashed red; */
  border: 1.5px dashed #BA0239;
  /* color: #BA0239;
  text-decoration-thickness: 5px; */
}

.page-epic a{
  /* font-size: larger; */
  font-family: 'Chillax', 'Geologica', sans-serif;
  font-weight: 500;
}
.page-epic .btn{
  font-weight: 500;
}

.Chillax700{
  font-family: 'Chillax','Geologica', sans-serif;
  font-weight: 700;
}
.Chillax600{
  font-family: 'Chillax','Geologica', sans-serif;
  font-weight: 600;
}
.Chillax500{
  font-family: 'Chillax','Geologica', sans-serif;
  font-weight: 500;
}
.Chillax400{
  font-family: 'Chillax','Geologica', sans-serif;
  font-weight: 400;
}
.Chillax300{
  font-family: 'Chillax','Geologica', sans-serif;
  font-weight: 300;
}
.page-epic   body, html {
      height: 100%;
  }
.page-epic  p{
  font-size:1.2em;
}

.page-epic header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.712);
  -webkit-backdrop-filter: blur(2px); 
  transition:top 0.4s ease-in-out;
}
.page-epic .nav-up {
  top: -120px;
}
.page-epic #content-padding{
  padding-top:5em;
} 

.page-epic .sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background: rgba(255, 255, 255, 0.9);
}

.page-epic #avatar{
  height: 4rem;
  width:4rem
}  

.page-epic #nav_projects:hover,#nav_home:hover,#nav_gallery:hover{
  color:grey !important;
}

.page-epic .nav-link{
  font-family: 'Chillax', sans-serif;
  font-weight: 500;
}
.page-epic .nav-link:hover{
  color:grey !important;
}
.page-epic  .margin{
    margin:3em 0em 3em 0em;
  }

  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
/* @font-face {
  font-display: swap; 
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/geologica-v1-latin-regular.woff2') format('woff2'); 
} */

  .Geologica400{
    font-family: 'Geologica', sans-serif;
    font-weight:400
  }
  
  .Geologica800{
    font-family: 'Geologica', sans-serif;
    font-weight:800
  }
  
  .page-epic .fade-in-image {
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  .page-epic .parallax {
    background-image: url("../images/Epic/Campus.webp");
    width: 100%;
    height:100%;
    background-color:#AEDD96;
  
    height: 30em;
  
    /* Create parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.page-epic .margin{
  padding-left:3em;
  padding-right:3em;
}


.page-epic #top{
  padding-bottom:2em;
  padding-top:2em;
}

.page-epic .hidden{
  display:none;
}
.page-epic .quickfacts{
  display:none;
}
.page-epic .rowIcons{
  display:none;
}




.page-epic .tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.page-epic .tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.page-epic .black {
  background-color: black;
  color:rgb(218, 218, 218);
}
.page-epic .green {
  background-color: #92c77a;
  color:white;
}

.page-epic #content-padding{
  padding-top:6em;
}

.page-epic #page-padding{
  padding-top: 4.5em;
}

.page-epic #next, #previous{
  display: inline;
  font-size: 16px;
}

@media only screen and (max-width: 992px) {
  .page-epic .column{
    display: flex;
    justify-content: center;
    padding-left:0px;
    margin-left:0px;
  }

  .page-epic .vertical-line{
    display: none;
  }

}

@media only screen and (max-width: 576px) {
  .page-epic .colQuickfacts{
    display:none;
  }
  .page-epic .quickfacts{
    display:block;
  }
  .page-epic #top_heading{
    text-align:center;
  }
  /* .parallax {
    background-image: url("../images/iso-PLC-mobile.png");
  } */
}

@media only screen and (max-width: 768px) {
  .page-epic .fade-in, .tag{
    opacity: 1;
  transform: translate(0, 0);
  transition: all 0s;
  }
  .page-epic .parallax{
    background-attachment: scroll;
  }
}
  
.page-epic #navbar-mobile{
  display:none;
}

@media (max-width: 474px) {
  .page-epic #navbar{
    display:none;
  }
  .page-epic #navbar-mobile{
    display:block;
  }
  .page-epic #content-padding{
    padding-top:8em;
  }
  .page-epic #page-padding{
    padding-top: 7em;
  }
}