.page-gallery *{
  cursor: url('../favicon/pointer.webp'), auto !important;
}
.page-gallery a:hover, button:hover, a, button, #avatar{
  cursor: url('../favicon/clicker.webp'), auto !important;
}

.page-gallery a{
  /* font-size: larger; */
  font-family: 'Chillax', 'Geologica', sans-serif;
  font-weight: 500;
}
.page-gallery .btn{
  font-weight: 500;
}

.Chillax700{
  font-family: 'Chillax','Geologica', sans-serif;
  font-weight: 700;
}
.Chillax600{
  font-family: 'Chillax','Geologica', sans-serif;
  font-weight: 600;
}
.Chillax500{
  font-family: 'Chillax','Geologica', sans-serif;
  font-weight: 500;
}
.Chillax400{
  font-family: 'Chillax','Geologica', sans-serif;
  font-weight: 400;
}
.Chillax300{
  font-family: 'Chillax','Geologica', sans-serif;
  font-weight: 300;
}

.Geologica400{
  font-family: 'Geologica', sans-serif;
  font-weight:400
}
.Geologica600{
  font-family: 'Geologica', sans-serif;
  font-weight:600
}

.page-gallery .highlight{
  text-decoration: none;
  padding-left:2px;
  padding-right:2px;
  /* text-decoration-thickness:2px;
  text-decoration-color:#2F9599; */
  background-color: rgb(218, 246, 255);
  color:  #058489;
  font-weight: 500;
}

.page-gallery .highlight:hover{
  background-color: rgb(255, 221, 194);
  color: #b14e11 ;
}

.page-gallery .underline{
  text-decoration: none;
  position: relative; /* Ensure relative positioning */
  display: inline-block;
}

.page-gallery .underline::after {
  content: ""; /* Create the underline */
  position: absolute; /* Position relative to the parent */
  left: 0; /* Align with the text */
  bottom: -2px; /* Adjust the distance from the text */
  width: 100%; /* Span the entire width of the parent */
  height: 2px; /* Define the thickness of the underline */
  background-color: rgb(60, 176, 230)
}

.page-gallery .underline:hover::after {
  background-color:  #ea6d20
}

.page-gallery .tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.page-gallery .tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.page-gallery .tag-load {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.page-gallery .tag-load.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.page-gallery  .nav-link{
  color:rgb(175, 175, 175) !important;
}
.page-gallery .nav-link:hover{
  color:white !important ;
}
.page-gallery button{
  color:rgb(175, 175, 175) !important
}

.page-gallery .btn:hover{
  background-color: white;
  color:black !important; 
}

.page-gallery header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); 
  transition:top 0.4s ease-in-out;
  margin-bottom: 0px;
}
.page-gallery .nav-up {
  top: -120px;
}
.page-gallery #content-padding{
  padding-top:5em;
} 

.page-gallery #avatar{
  height: 4rem;
  width:4rem
}  
  
.page-gallery .sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.page-gallery #navbar-mobile{
  display:none;
}

@media (max-width: 474px) {
  .page-gallery #content-padding{
    margin-top: 2em;
  }
  .page-gallery .mobile-load {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
  }
  .page-gallery #navbar{
    display:none;
  }
  .page-gallery #navbar-mobile{
    display:block;
  }
}