a{
  /* font-size: larger; */
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
}

.Geologica400{
  font-family: 'Geologica', sans-serif;
  font-weight:400
}
.Geologica600{
  font-family: 'Geologica', sans-serif;
  font-weight:600
}

.highlight{
  text-decoration: none;
  padding-left:2px;
  padding-right:2px;
  /* text-decoration-thickness:2px;
  text-decoration-color:#2F9599; */
  background-color: rgb(218, 246, 255);
  color: #0f7b7f ;
}

.highlight:hover{
  background-color: rgb(255, 221, 194);
  color: #b14e11 ;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.tag-load {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag-load.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.nav-link{
  color:rgb(175, 175, 175) !important;
}
.nav-link:hover{
  color:white !important ;
}
button{
  color:rgb(175, 175, 175) !important
}

.btn:hover{
  background-color: white;
  color:black !important; 
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); 
  transition:top 0.4s ease-in-out;
  margin-bottom: 0px;
}
.nav-up {
  top: -120px;
}
#content-padding{
  padding-top:5em;
} 

#avatar{
  height: 4rem;
  width:4rem
}  
  
.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#navbar-mobile{
  display:none;
}

@media (max-width: 474px) {
  #navbar{
    display:none;
  }
  #navbar-mobile{
    display:block;
  }
}