a{
  text-decoration-thickness:2px;
}

h1{
  padding-bottom:1.5em;
}
img{
  height: 28em;
  margin: auto;
  display:none;
}
.highlight{
  background-color: rgb(218, 246, 255);
}
.Geologica400{
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
}

.Geologica800{
  font-family: 'Geologica', sans-serif;
  font-weight: 600;
}
.highlight{
  text-decoration: none;
  padding-left:2px;
  padding-right:2px;
  /* text-decoration-thickness:2px;
  text-decoration-color:#2F9599; */
  background-color: rgb(218, 246, 255);
  color: #1b888b ;
}

.highlight:hover{
  background-color: rgb(255, 221, 194);
  color: #b14e11 ;
}

#cmu{
  color:#2F9599;
}

#cmu:hover{
  background-color: rgb(255, 221, 194);
  color: #b14e11 ;
}

#photos{
  height: 30em;
}

