a{
  text-decoration-thickness:2px;
}

h1{
  padding-bottom:1.5em;
}
img{
  height: 28em;
  margin: auto;
  display:none;
}

.popup{
  text-decoration-thickness:2px;
  text-decoration-color:#2F9599;
  color: #2F9599 ;
}

.popup:hover{
  text-decoration-thickness:3px;
}

#cmu{
  color:#2F9599;
}


#photos{
  height: 30em;
}

