p{
    font-size:1.05em;
}
a{
    text-decoration:none;
    color:black;

  /* font-size: larger; */
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
  color:rgba(0, 0, 0, 0)
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); 
  transition: backdrop-filter 0.25s ease, -webkit-backdrop-filter 0.3s ease, border 0.1s ease, box-shadow .25s ease;
}
  
.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background: rgba(255, 255, 255, 0.9);
}

#avatar{
  height:4rem;
  width:4rem
} 

#nav_projects:hover,#nav_home:hover,#nav_gallery:hover{
  color:grey !important;
}

.Geologica400{
  font-family: 'Geologica', sans-serif;
  font-weight:400
}

.Geologica800{
  font-family: 'Geologica', sans-serif;
  font-weight:800
}

hr{
    color:#9E99D4;
    width:70%;
    margin:auto;
}
.black{
    background-color:#2F2E41;
    color:white;
}
.card{
 border-color:#9E99D4;  
}
.center{
    display: flex;
      flex-direction: row;
      justify-content: center;
      height: 100%;  
}
#bck-color{
    background-color:#9E99D4;
}
.fade-in-image {
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
.hidden, .hidden-flex{
    display:none;
}
.larger-font{
    font-size:1.15em;
}
.larger-text{
    font-size:1.3em;
}
.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}
  
.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}
.quickfacts{
display:none;
}
.rowIcons{
display:none;
}

.parallax {
    background-image: url("../images/iso-pandemic-pals.png");
    width: 100%;
    height:100%;
    background-color:#9E99D4;
  
    height: 35em;
  
    /* Create parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.purple{
    background-color:#9E99D4;
  color:white;
}
#prompt{
    width:50%;
    font-size:1.2em;
    text-align:center;
}
#quote{
    font-size:1.5em;
    margin-bottom:.5em;
}
#top{
    padding-bottom:3em;
    padding-top:2em;
}


@media only screen and (max-width: 576px) {
    .colQuickfacts{
      display:none;
    }
    .parallax {
      background-image: url("../images/iso-pandemic-pals-mobile.png");
    }
    .quickfacts{
      display:block;
    }
    #top_heading{
      text-align:center;
    }
    
  }

  @media only screen and (max-width: 768px) {

    .fade-in, .tag{
      opacity: 1;
    transform: translate(0, 0);
    transition: all 0s;
    }
    .parallax{
      background-attachment: scroll;
    }
  }



@media only screen and (max-width: 992px) {
    .research-text{
        text-align:center;
    }
    .research-container{
        margin:auto;
        padding-top:3em;
    }
    .hidden{
        display:block;
    }
    .hidden-flex{
        display:flex;
    }
    .notHidden{
        display:none;
    }
    #prompt{
        width:70%;
    }

}

#navbar-mobile{
  display:none;
}
#content-padding{
  padding-top:6em;
}
@media (max-width: 474px) {
  #navbar{
    display:none;
  }
  #navbar-mobile{
    display:block;
  }
  #content-padding{
    padding-top:1em;
  }
}