.page-plc *{
  cursor: url('../favicon/pointer.webp'), auto !important;
}
.page-plc a:hover, button:hover, a, button, #avatar{
  cursor: url('../favicon/clicker.webp'), auto !important;
}

.page-plc a{
  text-decoration:none;
  
  font-family: 'Chillax', 'Geologica', sans-serif;
  font-weight: 500;
}
.page-plc .btn{
    font-weight: 500;
  }
  .Chillax700{
    font-family: 'Chillax', 'Geologica', sans-serif;
    font-weight: 700;
  }
  .Chillax600{
    font-family: 'Chillax', 'Geologica', sans-serif;
    font-weight: 600;
  }
  .Chillax500{
    font-family: 'Chillax', 'Geologica', sans-serif;
    font-weight: 500;
  }
  .Chillax400{
    font-family: 'Chillax', 'Geologica', sans-serif;
    font-weight: 400;
  }
  .Chillax300{
    font-family: 'Chillax', 'Geologica', sans-serif;
    font-weight: 300;
  }
  
  .page-plc body, html {
      height: 100%;
  }
  .page-plc p{
  font-size:1.2em;
}

.page-plc header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.712);
  -webkit-backdrop-filter: blur(2px); 
  transition:top 0.4s ease-in-out;
}
.page-plc .nav-up {
  top: -120px;
}
.page-plc #content-padding{
  padding-top:5em;
} 

.page-plc .sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background: rgba(255, 255, 255, 0.9);
}

.page-plc #avatar{
  height: 4rem;
  width:4rem
}  

.page-plc #nav_projects:hover,#nav_home:hover,#nav_gallery:hover{
  color:grey !important;
}

.page-plc .nav-link:hover{
  color:grey !important;
}
.page-plc .margin{
    margin:3em 0em 3em 0em;
  }
  
 .page-plc .card{
    margin:1em 0em 1em 0em;
    padding:.25em;
    color:black;
  }

  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
/* @font-face {
  font-display: swap; 
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/geologica-v1-latin-regular.woff2') format('woff2'); 
} */

  .Geologica400{
    font-family: 'Geologica', sans-serif;
    font-weight:400
  }
  
  .Geologica800{
    font-family: 'Geologica', sans-serif;
    font-weight:800
  }
  
  .page-plc .fade-in-image {
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  .page-plc .parallax {
    background-image: url("../images/iso-PLC.webp");
    width: 100%;
    height:100%;
    background-color:#AEDD96;
  
    height: 35em;
  
    /* Create parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.page-plc .small{
  font-size:16px; 
}
.page-plc .list{
  margin-bottom:.5em;
}



.page-plc .margin{
  padding-left:3em;
  padding-right:3em;
}

.page-plc #bck-color{
  background-color:#AEDD96;
}
.page-plc #top{
  padding-bottom:2em;
  padding-top:2em;
}

.page-plc section {
  height: 50vh;
}

.page-plc .hidden{
  display:none;
}
.page-plc .quickfacts{
  display:none;
}
.page-plc .rowIcons{
  display:none;
}




.page-plc .tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.page-plc .tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.page-plc .black {
  background-color: black;
  color:rgb(218, 218, 218);
}
.page-plc .green {
  background-color: #92c77a;
  color:white;
}

.page-plc #content-padding{
  padding-top:6em;
}

.page-plc #next, #previous{
  display: inline;
  font-size: 16px;
}

@media only screen and (max-width: 576px) {
  .page-plc .colQuickfacts{
    display:none;
  }
  .page-plc .quickfacts{
    display:block;
  }
  .page-plc #top_heading{
    text-align:center;
  }
  .page-plc .parallax {
    background-image: url("../images/iso-PLC-mobile.webp");
  }
}

@media only screen and (max-width: 768px) {
  .page-plc .fade-in, .tag{
    opacity: 1;
  transform: translate(0, 0);
  transition: all 0s;
  }
  .page-plc .parallax{
    background-attachment: scroll;
  }
}
  
.page-plc #navbar-mobile{
  display:none;
}

@media (max-width: 474px) {
  .page-plc #navbar{
    display:none;
  }
  .page-plc #navbar-mobile{
    display:block;
  }
  .page-plc #content-padding{
    padding-top:8em;
  }
}