@font-face {
  font-family: 'Themadi';
  src: url('./fonts/Themadi.ttf') format('truetype');
}

* {
  cursor: url('../favicon/pointer.png'), auto !important;
}

a:hover,
button:hover,
a,
button,
img,
#avatar {
  cursor: url('../favicon/clicker.png'), auto !important;
}

a {
  /* font-size: larger; */
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0)
}

.nav-link:hover,
#victoria:hover {
  color: grey !important;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.3);
}

#avatar {
  height: 4rem;
  width: 4rem;
  margin: auto !important
}

.contentRow {
  margin-top: 3em;
  margin-bottom: 3em;
}

.description {
  position: absolute;
  margin: 3em;
}

/* .card-container:hover {
    background-color: rgba(0, 0, 0, 0.5); 
    /* opacity: ; 
    transition: opacity 0.3s ease;
    border-radius: 18px;
    border: 1px solid rgb(139, 149, 172);
    .card-img-overlay{
        background-color: rgba(0, 0, 0, 0.5); 
        border-radius: 18px; 
    }
} */

/* #homes:hover{
    background-image: radial-gradient(circle, #ff6600,#ffcc00, );
    
}
#womeninIS:hover{
    background-image: radial-gradient(circle, #003cff,#00e1ff);
} */

.gradient {
  position: relative;
  top: 15%;
  /* top: -15%; */
  left: 46%;
  transform: translate(-50%, 0%);
  width: 400px;
  height: 250px;
  border-radius: 50% 40% 40% 50%;
  /* border-radius: 50% 40% 70% 70%;   */
  filter: blur(75px);

  opacity: 0.7;
  z-index: -5;
}

#orange {
  background: radial-gradient(circle at 50% 50%, rgba(255, 157, 63, 1), rgba(255, 255, 255, 0));
}

#blue {
  background: radial-gradient(circle at 50% 50%, rgb(63, 194, 255), rgba(255, 255, 255, 0));
}

#green {
  background: radial-gradient(circle at 50% 50%, rgb(24, 194, 75), rgba(255, 255, 255, 0));
}

#purple {
  background: radial-gradient(circle at 50% 50%, rgb(89, 24, 194), rgba(255, 255, 255, 0));
}

#black {
  background: radial-gradient(circle at 50% 50%, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

#red {
  background: radial-gradient(circle at 50% 50%, rgb(192, 4, 52), rgba(255, 255, 255, 0));
}

.glass {
  max-width: 36rem;
  width: 100%;
  position: relative;
  display: inline-block;

  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 2px solid rgb(255, 255, 255);
  border-top: none;
  transition: backdrop-filter 0.25s ease, -webkit-backdrop-filter 0.3s ease, border 0.1s ease, box-shadow .25s ease;
}

.glass:hover,
.wide-glass:hover {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.thumbnail {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.thumbnail:hover {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.titles {
  display: flex;
  font-family: 'Themadi', sans-serif;

  justify-content: center;
  padding-top: 40px;
  font-size: 54px;
  letter-spacing: 8px;
  white-space: nowrap;
}

#homes {
  border: 2px solid rgba(255, 157, 63, 0);
}
#homes:hover {
  border: 2px solid rgba(255, 157, 63, .5);
}

#womeninIS {
  border: 2px solid rgba(255, 157, 63, 0);
}
#womeninIS:hover {
  border: 2px solid rgba(63, 194, 255, .5);
}

#plc {
  border: 2px solid rgba(255, 157, 63, 0);
}
#plc:hover {
  border: 2px solid rgba(24, 194, 75, .5);
}

#pandemicpals {
  border: 2px solid rgba(255, 157, 63, 0);
}
#pandemicpals:hover {
  border: 2px solid rgba(89, 24, 194, .5);
}

#creative {
  border: 2px solid rgba(255, 157, 63, 0);
}
#creative:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

#epic {
  border: 2px solid rgba(255, 157, 63, 0);
}
#epic:hover {
  border: 2px solid rgba(192, 4, 52, .5);
}

.parent {
  display: grid;
  /* grid-template-columns: 1fr; */
}

.parent div {
  grid-row-start: 1;
  grid-column-start: 1;
}

img {
  width: 100%;
  height: auto;
}

.wide-glass {
  max-width: 74rem;
  width: 100%;
  position: relative;
  display: inline-block;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 2px solid rgb(255, 255, 255);
  border-top: none;
  transition: backdrop-filter 0.25s ease, -webkit-backdrop-filter 0.3s ease, border 0.1s ease, box-shadow .25s ease;
}

.wide-gradient {
  position: relative;
  top: 0%;
  /* top: -15%; */
  left: 46%;
  transform: translate(-50%, 0%);
  width: 600px;
  height: 300px;
  border-radius: 50% 40% 40% 50%;
  /* border-radius: 50% 40% 70% 70%;   */
  filter: blur(75px);

  opacity: 0.7;
  z-index: -5;
}

.epic-gradient {
  position: relative;
  top: 16%;
  /* top: -15%; */
  left: 82%;
  transform: translate(-50%, 0%);
  width: 500px;
  height: 200px;
  border-radius: 50% 40% 40% 50%;
  /* border-radius: 50% 40% 70% 70%;   */
  filter: blur(75px);

  opacity: 0.7;
  z-index: -5;
}

.displayMobile {
  display: none;
}

#epic-title {
  display: none;
}

#navbar-mobile {
  display: none;
}

@media only screen and (max-width: 991px) {
  .wide-glass {
    max-width: 36rem;
  }

  .displayDesktop {
    display: none;
  }

  .displayMobile {
    display: inline;
  }

  .epic-gradient {
    top: 5%;
    /* top: -15%; */
    left: 52%;
    transform: translate(-50%, 0%);
    width: 400px;
    height: 300px;
  }

  #epic-title {
    display: flex;
  }

  .paddingMobile {
    padding-top: 3em;
  }
}

@media only screen and (max-width: 865px) {

  /* 847.5px */
  .breakpoint {
    padding-top: 7em;
  }
}

@media (max-width: 474px) {
  #navbar {
    display: none;
  }

  #navbar-mobile {
    display: block;
  }
}