
.page-projects *{
  cursor: url('../favicon/pointer.webp'), auto;
}
.page-projects a, a:hover, button:hover, a, button, img, #avatar, .glass, .wide-glass, .projectTitle, .titles{
  cursor: url('../favicon/clicker.webp'), auto !important;
}
.page-projects a{
    color:rgba(0, 0, 0, 0);
    font-family: 'Chillax', 'Geologica', sans-serif;
    font-weight: 500;
  }
.page-projects .btn{
  font-weight: 500;
}
.Chillax700{
  font-family: 'Chillax', 'Geologica', sans-serif;
  font-weight: 700;
}
.Chillax600{
  font-family: 'Chillax', 'Geologica', sans-serif;
  font-weight: 600;
}
.Chillax500{
  font-family: 'Chillax', 'Geologica', sans-serif;
  font-weight: 500;
}
.Chillax400{
  font-family: 'Chillax', 'Geologica', sans-serif;
  font-weight: 400;
}
.Chillax300{
  font-family: 'Chillax', 'Geologica', sans-serif;
  font-weight: 300;
}

.page-projects .nav-link:hover,#victoria:hover{
  color:grey !important;
}

.page-projects #navbar{
    background-color: rgba(255, 255, 255, 0.3);
  }
.page-projects  #avatar{
    height: 4rem;
    width:4rem;
    margin:auto !important
  } 

.page-projects .gradient{
    position: relative;
    top: 30%; 
    /* top: -15%; */
    left: 50%;
    transform: translate(-50%, 0%);
    width:300px;
    height: 150px;
      border-radius: 50% 40% 40% 50%;  
      /* border-radius: 50% 40% 70% 70%;   */
      filter: blur(75px);
    
    opacity: 1;
    z-index: -5;
  }
.page-projects #orange{
    background: radial-gradient(circle at 50% 50%,rgba(255, 157, 63, 1), rgba(255, 255, 255, 0));
  }
.page-projects #blue{
    background: radial-gradient(circle at 50% 50%,rgb(63, 194, 255), rgba(255, 255, 255, 0));
  }
.page-projects #green{
    background: radial-gradient(circle at 50% 50%,rgba(24, 194, 75), rgba(255, 255, 255, 0));
  }
.page-projects #purple{
    background: radial-gradient(circle at 50% 50%,rgb(131, 119, 202), rgba(255, 255, 255, 0));
  }
.page-projects #black{
    background: radial-gradient(circle at 50% 50%,rgb(110,168,173), rgba(144,177,201, 0));
    top: 15%; 
    height: 300px;
    
  }
.page-projects #red{
    background: radial-gradient(circle at 50% 50%,rgb(192,4,52), rgba(255, 255, 255, 0));
  }

.page-projects .glass{
    padding-top: 2em;
    max-width:36rem;
    width: 100%;
    position: relative;
    display: inline-block;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, 0);
    transition: backdrop-filter 0.25s ease, -webkit-backdrop-filter 0.3s ease, border 0.1s ease, box-shadow .25s ease;
  }

.page-projects .glass:hover, .wide-glass:hover{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter:none;
    -webkit-backdrop-filter: none;
  }

.page-projects .titles{
    color: black;
    display: grid;
    align-items: center; 
    font-family: 'Chillax', sans-serif;
    font-weight: 600;

    font-size: 28px;
    letter-spacing: 8px;
    white-space: nowrap;
  }

.page-projects #homes {
    border: 2px solid rgba(255, 157, 63, 0);
  }
.page-projects #homes:hover {
    border: 2px solid rgba(255, 157, 63, .55);
  }
  
.page-projects #womeninIS {
    border: 2px solid rgba(255, 157, 63, 0);
  }
.page-projects #womeninIS:hover {
    border: 2px solid rgba(63, 194, 255, .5);
  }
  
.page-projects #plc {
    border: 2px solid rgba(255, 157, 63, 0);
  }
.page-projects #plc:hover {
    border: 2px solid rgba(24, 194, 75, .5);
  }
  
.page-projects #pandemicpals {
    border: 2px solid rgba(255, 157, 63, 0);
  }
.page-projects #pandemicpals:hover {
    border: 2px solid rgba(89, 24, 194, .5);
  }
  
.page-projects #creative {
    border: 2px solid rgba(110,168,173, 0);
  }
.page-projects #creative:hover {
    border: 2px solid rgba(110,168,173, 0.7);
  }
  
.page-projects #epic {
    border: 2px solid rgba(255, 157, 63, 0);
  }
.page-projects #epic:hover {
    border: 2px solid rgba(192, 4, 52, .4);
  }

.page-projects .parent {
    display: grid;
    /* grid-template-columns: 1fr; */
  }
  
.page-projects .parent div {
   grid-row-start: 1;
   grid-column-start: 1;
  }

.page-projects img{
    width:100%;
    height: auto;
}
.page-projects .wide-glass{
  max-width: 74rem;
  width: 100%;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255,0);
    transition: backdrop-filter 0.25s ease, -webkit-backdrop-filter 0.3s ease, border 0.1s ease, box-shadow .25s ease;
}

.page-projects .wide-gradient{
  position: relative;
    top: 0%; 
    /* top: -15%; */
    left: 46%;
    transform: translate(-50%, 0%);
    width: 500px;
    height: 250px;
      border-radius: 50% 40% 40% 50%;  
      /* border-radius: 50% 40% 70% 70%;   */
      filter: blur(75px);
    
    opacity: .7;
    z-index: -5;
}

.page-projects .epic-gradient{
  position: relative;
    top: 23%; 
    /* top: -15%; */
    left: 83%;
    transform: translate(-50%, 0%);
    width: 270px;
    height: 150px;
      border-radius: 50% 40% 40% 50%;  
      /* border-radius: 50% 40% 70% 70%;   */
      filter: blur(75px);
    
    opacity: 0.8;
    z-index: -5;
}
.page-projects .displayMobile{
  display:none;
}
.page-projects #epic-title{
  display: none;
}
.page-projects #navbar-mobile{
  display:none;
}
@media only screen and (max-width: 992px) {
  .page-projects .wide-glass{
    max-width:36rem;
  }
  .page-projects .displayDesktop{
    display: none;
  }
  .page-projects .displayMobile{
    display:inline;
  }
  .page-projects .epic-gradient, .wide-gradient{
    top: 25%; 
    /* top: -15%; */
    left: 46%;
    transform: translate(-50%, 0%);
    width: 400px;
    height: 200px;
      border-radius: 50% 40% 40% 50%;  
      /* border-radius: 50% 40% 70% 70%;   */
  }

  .page-projects .epic-gradient{
    opacity: .7;
  }
  
  .page-projects #epic-title{
    padding-top: 1.5em;

    display: flex;
  }

}

 @media only screen and (max-width: 865px) { /* 847.5px */
  .page-projects .breakpoint{
    padding-top: 3em;
}
}

@media (max-width: 474px) {
  .page-projects #navbar{
    display:none;
  }
  .page-projects #navbar-mobile{
    display:block;
  }

  .page-projects .gradient{
    top: 28%; 
    left: 46%;
    transform: translate(-50%, 0%);
    width: 150px;
    height: 125x;
  }

  .page-projects .epic-gradient, .wide-gradient{
    top: 23%; 
    /* top: -15%; */
    left: 46%;
    transform: translate(-50%, 0%);
    width: 200px;
    height: 150px;
      border-radius: 50% 40% 40% 50%;  
      /* border-radius: 50% 40% 70% 70%;   */
  }
}