/* code is ordered by generic to specifc, with the attributes inside ordered alphabetically*/
/* this is so that rules that apply to the most elements at the highest level comes first and those that are more spcific like id selectors come last*/
/* Within each rule, attributes can be easily found or inserted by just going alphabetically */

@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Berkshire+Swash&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
body {
    background-color: #016a86;
    color: #666;
    font-family:  'Long Cang', sans-serif;
    font-size: 120%;}

h2{
    font-family: 'Berkshire Swash', serif;
    font-size: 200%;
}
li {
    line-height: 1.6em;
    list-style-image: url("images/icon-plus.png");
    }
table {
    border-spacing: 0px;}
th, td {
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
    padding: 5px 30px 5px 10px;
}
th, td {
    background-color: #ffe8d6;
    border-bottom: 1px solid #ffe8d6;
    border-right: 1px solid #ffe8d6;
    border-top: 1px solid #ddbea9;
    text-align: left;}
tr.head th {
    background-color: #e5989b;
    border-bottom: 2px solid #b5838d;
    border-right: 1px solid #b5838d;
    border-top: 1px solid #ffb4a2;
    color: #fff;
    letter-spacing: 0.15em;
    text-align: center;
    text-shadow: -1px -1px 1px #666666;
    }
td {
    text-shadow: 1px 1px 1px #ffffff;}
tr.even td, tr.even th {
    background-color: #ffcdb2;}
tr.head th:first-child {
    /* WebKit is a browser engine used in Apple's Safari browser, Amazon 
        Kindle e-book reader, BlackBerry Browser in OS 6 and above.

        Not all CSS3 properties work well in all browsers. In a way to ensure that web pages display as expected in their browsers, vendors like Mozilla and Webkit developed their own browser-compatible properties. With CSS3, many compatibility issues are now resolved.
        However, it is not unusual to still see these properties used in stylesheets. */

    /* Webkit property*/
    -webkit-border-top-left-radius: 5px;

    /* Mozilla property*/
    -moz-border-radius-topleft: 5px;

    /* CSS3 property*/
    border-top-left-radius: 5px;

    /* More on border-radius property: https://www.the-art-of-web.com/css/border-radius/ */
}
tr.head th:last-child {
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    }
fieldset {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    line-height: 1.6em;
    margin-top: 20px;
    width: 310px;}
legend {
    color: #666666;
    font-style: italic;}
input[type="text"] {
    border: 1px solid #d6d6d6;
    outline: none;
    padding: 2px;
    width: 120px;}
input[type="text"]:focus,
input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid #999999;}
input[type="submit"] {
    background-color: #e5989b;
    border: 1px solid #b5838d;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 10px;
    padding: 5px;
    }
input[type="submit"]:hover {
    background-color: #ffb4a2;
    border: 1px solid #e5989b;
    color: #ffffff;
    cursor: pointer;}
.title {
    clear: left;
    float: left;
    width: 160px;
    }
.submit {
    text-align: right;
    width: 310px;}


.socialmedia{
    text-align:center;
}

.smlogo{
    height: 21.3px;
    width: 17px;
}
.center-mid-1{
    background-color: #d8e2dc;
    padding-bottom: 15px;
    padding-top: 5px;
    width: 940px;
    }

.center-mid-2{
    background-color: #efeae6;
    padding-bottom: 15px;
    padding-top: 5px;
    width: 940px;
    }

.center-mid-3{
    background-color: #d8e2dc;
    padding-bottom: 15px;
    padding-top: 5px;
    width: 940px;
    }

.center-2{
    margin: auto;
    padding-bottom: 15px;
    padding-top: 5px;
    width: 940px;
    }

.center-3{
    margin: 0 0;
    width: 300px;
    }

.img-1{
    margin: auto;
    width: 100%;
}
.img-2{
    height:350px;
    margin: auto;
    width: 30%;
}
.img-3{
    height:350px;
    margin: auto;
    width: 26%;
}
.img-4{
    height:350px;
    margin: auto;
    width: 23%;
}
.square{
    height:300px;
    margin: auto;
    width:300px;
}

.center-text {
    color:#b5838d;
    text-align: center;
}
.center-2>h1, .center-2>p{
    text-align: center;
}
h1.center-text{
    font-family: 'Berkshire Swash', serif;
    font-size: 550%;
}
}

.menu-holder {
    background-color: #ffffff;
    float: right;
    height: 100%;
    max-width: 100%;
    overflow: auto;
    position: fixed;
    right: -100%;
    text-align: center;
    top: 0;
    transition: right .3s ease;
    width: 100%;
    z-index: 99;
}     

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    float: right;
    padding: 10px;
}

ul li a, 
ul a :hover, 
ul li a:focus, 
ul li a:active {
    border: none;
    color: inherit;
    text-decoration: none;
}

#page {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    border: 4px  #000;
    background-color: #f6f4e8;
    vertical-align: baseline;
}

#pic1, #pic2{
    padding-right:10px;
}

#pic0{
    padding-bottom:1em;
}

#about-mockup{
    height:500px;
    padding:1em;
    width:336px;
}

#youth-mockup{
    height:500px;
    padding:1em;
    width:280px;
}

#about{
    margin:1em 1em 1em 1em;
    padding-left:1em;
    padding-right:1em;
}


#map{
    padding:.1em 3em .5em 10em;
}

#hi{
    color:#000;
    font-family: 'Rock Salt', 'Long Cang', sans-serif;
    font-size:1.5em;
    text-align:center;
}

#copyright{
    text-align:center;
}

