*{
  cursor: url('../../favicon/pointer.png'), auto !important;
}
a:hover, button:hover, a, button, #avatar, #contact, #contact:hover{
  cursor: url('../../favicon/clicker.png'), auto !important;
}

a{
  text-decoration:none;
  color:black;
  font-family: 'Geologica', sans-serif;
}

.header-link{
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
  color:rgb(0, 0, 0)
}

.black{
  background-color: black;
  color:white;
}
.blue{
  background-color: #00488A;
  color:white;
}
.card{
  border-color:#EB7100; 
  background-color:#FFFCF7
 }
 .grey{
  background-color: #fbf3ee;
 }
 
.orange{
  background-color: #EB7100;
  color:white;
}
.Geologica400{
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
}

.Geologica800{
  font-family: 'Geologica', sans-serif;
  font-weight: 800;
}

a{
  color:white;
}

a:hover{
  color:black;
}

hr{
  color:white;
  width:70%;
  margin:auto;
}

body{
  padding-top: 6rem;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); 
  background-color: rgba(255, 255, 255, 0.712);
  transition:top 0.4s ease-in-out;
}
.nav-up {
  top: -120px;
}
#content-padding{
  padding-top:1em;
} 
  
.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#avatar{
  height:4rem;
  width:4rem
} 

#victoria:hover{
  color: grey;
}
#nav_projects:hover,#nav_home:hover,#nav_gallery:hover{
  color:grey !important;
}
.nav-link:hover{
  color:grey !important;
}

.header-link{
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
  color:rgba(0, 0, 0, 0)
}

.contact-links{
  color:black;
  text-decoration:none;
  /*font-weight:bold; */
}

.contact-links:hover{
  color:black;
  text-decoration:underline;
  font-weight:bold; 
}


.icons{
  height: 1.5em;
  margin-left:1em;
  width: 1.5em;
  float:left;
  object-fit:cover;
  object-position: 100% 0;
  object-position: 0 100%;
}

.center-elements{
  text-align: center;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-in{
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}
.fade-in.visible {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-in-image {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.margin{
  padding-left:3em;
  padding-right:3em;
}
.parallax {
  background-image: url("../images/costar-parallax.png");
  width: 100%;
  height:100%;
  background-color:#EB7100;

  height: 25em;

  /* Create parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#bck-color{
  background-color:black;
  height:25em;
}
#challenge{
  margin: 1.5em 3em 3em 3em;
}

#top{
  padding-bottom:1.5em;
  padding-top:1em;
}


section {
  height: 50vh;
}

.hidden{
  display:none;
}
.quickfacts{
  display:none;
}
.rowIcons{
  display:none;
}
.front{
  background-color:rgb(253, 237, 237)
}
.front2{
  background-color:rgb(255, 246, 246)
}
.back{
  background-color:rgb(239, 255, 241);
}
.card-inner-row{
  margin:0em 2em 1em 6em;
}
.card-text{
  margin-top:1em;
  padding-left:.75em;
  padding-right:.75em;
}


.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.quotes{
  font-size:1.5em;
}

#bonus{
  border-color:#00488A; 
  background-color:white;

}

#hidden{
  display: none;
}

#idea{
  font-size:1.7em;
  margin-bottom:.5em;
}

@media only screen and (max-width: 576px) {
  .colQuickfacts{
    display:none;
  }

  .quickfacts{
    display:block;
  }
  #top_heading{
    text-align:center;
  }
}

@media only screen and (max-width: 768px) {
  .challenges{
    text-align:center;
  }
  .rowIcons{
    display:block;
  }
  .colIcons{
    display:none;
  }
  .fade-in, .fade-in.visible, .tag{
    opacity: 1;
  transform: translate(0, 0);
  transition: all 0s;
  }
  .parallax{
    background-attachment: scroll;
  }
  
}


@media only screen and (max-width: 992px) {
  .card-row{
    justify-content:center;
  }
  .card-inner-row{
    margin:0em 0em 3em 0em;
  }
  .challengeRow{
    padding-left:2em;
  }
  .demos{
    text-align:left;
    margin-top:2em;
  }
  .hidden{
    display:block;
    padding-right:1em;
  }
  .fade-in{
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
  }
  .fade-in.visible {
    opacity: 1;
    transform: translate(0, 0);
  }
  .notHidden{
    display:none;
  }
  .svg_challenge{
    width:120%;
    height:120%;
    
  }
  #goal{
    margin-top:1.5em;
  }
  #mobile{
    margin-top:3em;
  }

}

@media only screen and (max-width: 992px) {
  #hidden{
      display:block;
  }
  #toHide{
      display:none;
  }
}

#stat{
  font-size:10rem;
  float:right;
}

/* @media only screen and (min-width: 992px) {
  #stat{
    float:right;
    font-size: 12rem
  }
}

@media only screen and (max-width: 1200px) {
  #statDiv{
    margin-left:2em;
  }
}

@media only screen and (max-width: 992px) {
  #stat{
    float:right;
    font-size:10rem;
  }
}


@media only screen and (max-width: 768px) {
  #stat{
      float:none;
      padding-left:0em;
      font-size:10em;

  }
} */
#navbar-mobile{
  display:none;
}

@media (max-width: 474px) {
  #navbar{
    display:none;
  }
  #navbar-mobile{
    display:block;
  }
}